/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #222;
}

canvas {
    border: 2px solid #fff;
    background-color: #000;
    border-radius: 10px;

}

